body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

body {
  background-image: url("https://images.unsplash.com/photo-1531824475211-72594993ce2a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80");
  background-attachment: fixed;
  background-size: cover;
  padding: 2%;
  font-family: Arial;
  text-align: center;
}

.App {
  background-color: rgba(244, 245, 233, 0.98);
  color: black;
  padding:1% 5% 1% 5%;
  margin:0% 5% 5% 5%;
  border-radius: 2%;
  /* opacity: 1; */
}

.checkboxCluster {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.developers {
  display:flex;
  flex-direction: row;  
  justify-content: space-evenly;
  margin: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.kameron,
.mike,
.amit,
.andrew,
.zev {
    display: flex;
    flex-direction: column;
    justify-items: center;
    width: 100px;
    height: 250px;

}

.greyLabel {
  color: rgb(110, 110, 105)
}


.homeLink{
  color:red;
  text-decoration: none;

}


img {
  border-radius: 10px;
}

.jumbotron{
  border-style:groove;
  border:1;
  font-style: oblique;
  border-radius: 8px;
}

.MuiTabs-flexContainer,
.MuiButtonBase-root,
.MuiTab-root,
.MuiTab-wrapper,
.MuiTouchRipple-root{
  border-radius: 8px;
}
